# Ignore compiled files, backups created by vim, etc #
################
*.pyo
*.pyc
*.swp
*~

# OS FILES #
############
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore virtualenv #
#########
venv/
